.flexbox {display: flex; flex-direction: row; justify-content: space-evenly;}
.flexbox div{background-color: rgba(255, 70, 70, 0.9); text-align: center; flex-wrap: wrap; width: 75px; height: 75px; padding: 25px; margin: 25px; border: thick double #32a1ce;;
color: white;  background-size: cover; font-size: 200%; transition-duration: 1.2s;
}
body {margin-left: 20%; margin-right: 20%; background-image: url(snow-falling-animated.gif); background-size: 20%;}
header { text-align: center; background-color: rgba(255, 70, 70, 0.9); border: thick double #32a1ce;}

.div1:hover {background-image: url(cat1.jpg); font-size: 0px;}
.div2:hover {background-image: url(cat2.jpg); font-size: 0px;}
.div3:hover {background-image: url(cat3.gif); font-size: 0px;}
.div4:hover {background-image: url(cat4.jpg); font-size: 0px;}
.div5:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div6:hover {background-image: url(cat6.jpg); font-size: 0px;}
.div7:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div8:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div9:hover {background-image: url(cat5.gif); font-size: 0px;}
.div10:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div11:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div12:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div13:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div14:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div15:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div16:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div17:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div18:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div19:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div20:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div21:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div22:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div23:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div24:hover {background-image: url(cat5.jpg); font-size: 0px;}
.div25:hover {background-image: url(cat25.jpg); font-size: 0px;}